<div *ngIf='showSplash' class="fondo">
  <div class="base">
    <div class="avionverde">
      
    </div>
    <div class="avionceleste">
      
    </div>
  </div>
</div>
<ion-toolbar color='primary'>
  
  <ion-title>
    <h1 style="font-family: cursive;">{{titulo}}</h1>
  </ion-title>
  <ion-buttons slot="secondary">
    <ion-button slot="start" fill="clear" color="light" (click)='home()'>
      <ion-icon name="home"></ion-icon> 
    </ion-button>
    <ion-button slot="end" fill="clear" color="light" (click)='LogOut()'>
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>