<ion-header>
  <ion-toolbar>
    <ion-title>sala4b</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let chat of todosLosChats; let i = index" [attr.data-index]="i">
    <div *ngIf="!chat.propio;else propio">
      <ion-item-divider>
        <ion-label>
          {{chat.usuario}}
        </ion-label>
      </ion-item-divider>
      <div class="mensaje">
        <p> {{chat.mensaje}}</p>
      </div>
      <p [ngClass]="{'fecha': i < (todosLosChats.length - 1), 'fecha-ultima': i == (todosLosChats.length - 1)}">{{chat.fecha}}</p>

    </div>
    <ng-template #propio>
      <div class="mensaje-propio">
        <p> {{chat.mensaje}}</p>
      </div>
      <p [ngClass]="{'fecha-propia': i < (todosLosChats.length - 1), 'fecha-propia-ultima': i == (todosLosChats.length - 1)}">{{chat.fecha}}</p>
    </ng-template>
  </div>



  <ion-item class="footer">
    <ion-textarea rows="1" cols="20" placeholder="Tu mensaje..." [(ngModel)]="mensaje"></ion-textarea>
    <ion-button shape="round" (click)="enviar()">
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
  </ion-item>





</ion-content>