<ion-header>
    <ion-toolbar>
      <ion-title>sala4b</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div *ngFor="let chat of todosLosChats">
      <div *ngIf="!chat.propio;else propio">
        <ion-item-divider>
          <ion-label>
            {{chat.usuario}}
          </ion-label>
        </ion-item-divider>
        <div class="mensaje">
          <p> {{chat.mensaje}}</p>
        </div>
        <p class="fecha">{{chat.fecha}}</p>
  
      </div>
      <ng-template #propio>
        <div class="mensaje-propio">
          <p> {{chat.mensaje}}</p>
        </div>
        <p class="fecha-propia">{{chat.fecha}}</p>
      </ng-template>
    </div>
  
  
  
    <ion-item class="footer">
      <ion-textarea rows="1" cols="20" placeholder="Tu mensaje..." [(ngModel)]="mensaje"></ion-textarea>
      <ion-button shape="round" (click)="enviar()">
        <ion-icon slot="end" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  
  
  
  
  
  </ion-content>