<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <img class="icon" src="./../../assets/icon/icon.png">
      </ion-card-title>
      <ion-card-title class="ion-text-center">
        <h2 class='text'>Iniciar Sesión</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item >
        <ion-label position="floating">
          <ion-text>
            <h4>
              Correo Electrónico
            </h4>
          </ion-text>
        </ion-label>
        <ion-input clear-input type='text' color="primary" [(ngModel)]='email'></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">
          <ion-text>
            <h4>
              Contraseña
            </h4>
          </ion-text>
        </ion-label>
        <ion-input clearInput type='password' color="primary" [(ngModel)]='password'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button expand="block" (click)='OnSubmitLogIn()' color='primary' fill="outline">
            Ingresar
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button expand="full" shape="round" (click)='Rellenar("admin@admin.com",111111)'>
            <ion-icon slot="start"  name="person"></ion-icon>
            Administrador
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button expand="full" shape="round" (click)='Rellenar("invitado@invitado.com",222222)'>
            <ion-icon slot="start"  name="person"></ion-icon>
            Invitado
          </ion-button>
        </ion-label>
        <ion-label>
          <ion-button expand="full" shape="round" (click)='Rellenar("usuario@usuario.com",333333)'>
            <ion-icon slot="start" name="person"></ion-icon>
            Usuario
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button expand="full" shape="round" (click)='Rellenar("anonimo@anonimo.com",444444)'>
            <ion-icon slot="start" name="person"></ion-icon>
            Anonimo
          </ion-button>
        </ion-label>
        <ion-label>
          <ion-button expand="full" shape="round" (click)='Rellenar("tester@tester.com",555555)'>
            <ion-icon slot="start" name="person"></ion-icon>
            Testeador
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>