// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.fondo{
    height: 100%; 
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.base {
    /* The image used */
    background-image: url("./assets/splash/base.png");
  
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.avionverde {
    /* The image used */
    background-image: url("./assets/splash/avionverde.png");
  
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    animation-name: spin;
    animation-duration:3500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.avionceleste {
    /* The image used */
    background-image: url("./assets/splash/avionceleste.png");
  
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    animation-name: spin2;
    animation-duration:3500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}




@keyframes spin {
    from {
        transform:translate(100px,0px);
    }
    to {
        transform:translate(0px,100px);
    }
}

@keyframes spin2 {
    from {
        transform:translate(-300px,0px);
    }
    to {
        transform:translate(100px,-800px);
    }
}



